[Desktop Entry]
Name=Passphraser
Exec=passphraser
Terminal=false
Type=Application
Icon=me.zevlee.Passphraser
StartupWMClass=passphraser
X-AppImage-Version=VERSION
Comment=A simple password generator based on a user-supplied word list.
MimeType=x-scheme-handler/passphraser;
Categories=GNOME;GTK;Utility;
